@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
.Form {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(207, 77, 77);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid white;
    
}

.TodoCreator::placeholder {
   text-align: center;
  line-height: 75px;
  
}

.TodoCreator {
  color: rgba(0, 0, 0, 0.685);
  text-align: center;
  border-radius: 10px;
  border: none;
  font-family: 'Handlee', cursive;
  height: 80px;
  width: 400px;
  font-size: 24px;
  overflow-y: scroll;
  border: 1px solid white;
  background-color: white;
  line-height: 75px;
}
.TodoCreator::-webkit-scrollbar {
  display: none;
}

.TodoCreator:focus{outline:1px solid rgb(0, 0, 0);}

.buttonsDiv {
  display: flex;
  justify-content: space-around;
}

.CrearTodo {
  color: white;
  font-size: 20px;
  height: 35px;
  width: 100px;
  border-radius: 20px;
  background: linear-gradient(45deg, rgb(255, 131, 48), rgb(75, 184, 108));
  border: 1px solid white;
}

.CrearTodo:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 6px white;
}

.CerrarModal {
  color: red;
  border: 1px solid white;
  font-size: 20px;
  height: 35px;
  width: 100px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background: linear-gradient(45deg, rgb(255, 131, 48), rgb(75, 184, 108));
  padding-bottom: 5px;
}

.CerrarModal:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 6px red;
  border: 1px solid red;
}

.smallAlert {
  max-width: 300px;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Patrick Hand SC', cursive;
}
