@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.Form {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(180deg,
  rgb(176, 235, 255,0.6) 10% ,
  rgb(176, 235, 255,0.2) 75%,
  rgba(0, 60, 255, 0.857) 75%,
  rgb(0, 183, 255) 90%, rgb(242,209,107) 93%),
  linear-gradient(180deg,
   rgba(255, 255, 255, 0.6) 30%,
   rgba(255, 166, 0, 1) );
    padding: 20px;
  border-radius: 10px;
  border: 1px solid white;
}


.toggledForm{background: linear-gradient(90deg,
   rgb(192, 231, 158) 50%,
    rgb(226, 191, 149) 50%);}
    
.toggledCrearTodo{}
.toggledCerrarModal{}

.TodoCreator::placeholder {
   text-align: center;
  line-height: 75px;
  
}

.TodoCreator {
  color: rgba(0, 0, 0, 0.685);
  text-align: center;
  border-radius: 10px;
  border: none;
  font-family: 'Handlee', cursive;
  height: 80px;
  width: 400px;
  font-size: 24px;
  overflow-y: scroll;
  border: 1px solid white;
  background-color: white;
  line-height: 75px;
}

.TodoCreator::-webkit-scrollbar {
  display: none;
}

.TodoCreator:focus{outline:1px solid rgb(0, 0, 0);}

.buttonsDiv {width: 300px;
  display: flex;
  justify-content: space-around;
  
}

.CrearTodo {
  color: white;
  font-size: 18px;
  height: 35px;
  width: 100px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: rgba(255, 166, 0, 0.837);
}

.CrearTodo:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 6px white;
}

.CerrarModal {
  color: red;
  border: 1px solid white;
  font-size: 20px;
  height: 35px;
  width: 100px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-color: rgba(255, 166, 0, 0.837);
  padding-bottom: 5px;
}

.CerrarModal:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 6px red;
  border: 1px solid red;
}

.smallAlert {
  max-width: 300px;
  color:rgba(0, 0, 0, 0.685);
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Patrick Hand SC', cursive;
}

@media (max-width:412px){
  .form{width:200px;}
  .TodoCreator{width:190px;line-height: 25px; font-size: 15px;}
  .buttonsDiv{width:220px ;}
  .CrearTodo{width: 80px; font-size: 17px;}
  .CerrarModal{width: 80px;}
  
  }