@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

@keyframes loadingAnimationTop{
    0%{
        background-position: -200px;
    }
    100%{background-position: 200px;}

}

.topSkeleton{
background:linear-gradient(90deg,rgba(255, 255, 255, 0) 35%,
white,rgba(255, 255, 255, 0) 65%);
height: 35px;
width:450px;
margin-top: 20px;
margin-bottom: 15px;
border-radius: 10px;
animation-name: loadingAnimationTop;
animation-duration:2s;
animation-iteration-count:infinite;
animation-timing-function:linear; }




@media(max-width:412px){
    .topSkeleton{width: 80%;}
}