@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.counter {
  margin-top: 20px;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  width: 100%;
  color: white;
}

.MyOtherClass{
  color: brown !important;
}
